{% block content %}
<form action="{% url 'addProduct' %}" method="POST">
    {% csrf_token %}
    <div class ='modal-dialog'>
        <div class ='modal-content'>
          <div class="modal-header">
            <h5 class="modal-title">Add a product</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
          </div>
    
          <div class="modal-body">
            <div class="form-group{% if field.errors %} invalid{% endif %}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Medicine name</label>
                    <input autocomplete="off" name='name' type="text" class="form-control">
                  </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Description</label>
                    <input autocomplete="off" name="description" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" >
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Size</label>
                    <input  autocomplete="off" name="size" type="text" class="form-control" id="exampleInputPassword1" placeholder="افصل بين كل حجم بمساحة فارغة">
                  </div>
                  <div class="form-check">
                  </div>
                               
            </div>
          </div>
    
          <div class="modal-footer">
            <button type="submit" class="btn btn-sm btn-info">Submit</button>
        </div>
      </div>

</form>


{% endblock %}
